// Scss Document

$backgroundWhite: #FFFBEF;
$borderGray: #707070;
$aboutBlue: #008CBD;

/* Font Colors */
$fontPink: #FF3F7A;
$fontGreen: #53E564;
$fontBlue: #29E9FD;

/* Header Background Colors */
$headerPink: #FBA3C5;
$headerOrange: #FEBD8E;
$headerGreen: #D3FD72;
$headerBlue: #96F3FE;

/* Add Recipe Banner Colors */
$recipeGreen: #53E564;
$recipePink: #F85C8D;
$recipeBlue: #06C8DD;

/* Form Background Color */
$formBackground: #FFFBEF;