// Scss Document

@font-face {
	font-family: "floridaIsland";
	src: url("./fonts/florida_island.woff")
}

@font-face {
	font-family: "futura";
	src: url("./fonts/futura_medium_bt.woff")
}

$fontBanner: "floridaIsland", sans-serif;

$fontText: "futura", sans-serif;