// Scss Document

@import "url_paths.scss";
@import "colors.scss";

body {
	background-image: url("../images/login_drinks_bg.jpg");
	background-size: cover;
}

main {
	text-align: center;
}

main h1 {
	font-family: $fontBanner;
	color: $fontPink;
}

form {
	background-color: $formBackground;
	font-family: $fontText;
	width: 30%;
	border-radius: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 80px;
}

form div.user_info {
	display: grid;
	grid-template-columns: 80%;
	justify-content: center;
	margin-bottom: 20px;
}

form h3 {
	color: $fontBlue;
	font-family: $fontBanner;
	font-size: 1.5em;
	letter-spacing: 2px;
	margin-top: 0;
}

form p {
	font-family: $fontText;
}

form input {
	font-size: 1.25em;
}

form div.buttons {
	width: 70%;
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}

div.buttons input {
	background-color: $fontBlue;
	color: white;
	font-size: 2.0em;
	height: 75px;
	width: 90%;
	justify-self: center;
	border: thin solid $fontBlue;
	border-radius: 45px;
}

div.social_media {
	display: none;
}

@media only screen and (max-width: 600px) {
	
	main h1 {
		background-color: $fontPink;
		color: white;
		padding: 20px 0;
		margin: 0;
	}
	
	form {
		width: 90%;
	}
	
	div.social_media {
		display: block;
	}
	
}
