// Scss Document

@import "url_paths.scss";
@import "colors.scss";

body {
	background-image: none;
	background-color: $formBackground;
}

main {
	display: grid;
	grid-template-columns: 50% 50%;
}

main h1 {
	color: $fontBlue;
	font-size: 3.8em;
	letter-spacing: 5px;
	margin-bottom: 0;
}

p.mobile_text {
	display: none;
}

main h1 + p {
	font-family: $fontText;
	font-size: 1.25em;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

main img {
	width: 100%;
	margin-bottom: -4px;
}

main form {
	background-image: url("../images/signup_phone_img.jpg");
	background-size: cover;
	width: 60%;
	margin-bottom: 0;
}

main form a, main form a:visited {
	color: black;
}

div.buttons input {
	background-color: $recipePink;
	border-color: $recipePink;
}

@media only screen and (max-width: 600px) {
	
	main {
		grid-template-columns: 100%;
	}
	
	main h1 {
		background-color: $fontBlue;
		color: white;
		font-size: 2em;
	}
	
	p.desktop_text {
		display: none;
	}
	
	p.mobile_text {
		display: block;
		margin-top: 0;
		margin-bottom: 30px;
	}
	
	main form {
		width: 100%;
		border-radius: 0;
		padding-top: 10px;
	}
	
}