@font-face {
  font-family: "floridaIsland";
  src: url("./fonts/florida_island.woff"); }
@font-face {
  font-family: "futura";
  src: url("./fonts/futura_medium_bt.woff"); }
/* Font Colors */
/* Header Background Colors */
/* Add Recipe Banner Colors */
/* Form Background Color */
footer {
  background-color: white;
  font-family: "futura", sans-serif;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
  border-top: 1px solid #707070; }

div.mobile_copyright {
  display: none; }

footer div {
  text-align: center;
  display: grid;
  grid-template-columns: 100%; }

footer ul {
  list-style: none; }

footer ul a, footer ul a:visited {
  color: #53E564;
  text-decoration: none; }

footer div:nth-of-type(2) img {
  width: 50%;
  margin-right: auto;
  margin-left: auto; }

footer p {
  color: #FF3F7A; }

footer h3 {
  color: #53E564; }

footer div div {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around; }

footer div div img {
  border-radius: 50%; }

@media only screen and (max-width: 600px) {
  footer div:not(.social_media) {
    display: none; }

  footer {
    grid-template-columns: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }

  footer h3 {
    color: #29E9FD;
    font-size: 3em; }

  div.mobile_copyright a, div.mobile_copyright a:visited {
    color: #FF3F7A;
    text-decoration: underline; }

  div.mobile_copyright {
    color: #FF3F7A;
    display: block;
    padding-top: 20px; } }
