@font-face {
  font-family: "floridaIsland";
  src: url("../fonts/florida_island.woff"); }
@font-face {
  font-family: "futura";
  src: url("../fonts/futura_medium_bt.woff"); }
body {
  background-image: url("../images/lime_cove_boardwalk.jpg"); }

header {
  background-image: url("../images/lime_cove_BEACH_light_header.jpg"); }
